.content-wrapper {
    background-color: #F6F3F0;
}

main h2,
h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    color: #8a4421;
}

h1{
    color: #8a4421;
}

p {
    text-align: center;
    color: gray;
}

label {
    color: #917A60;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

.fpw-form-container {
    background-color: #F6F3F0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    margin-top: 10px;
}

.column {
    margin: auto;
    width: 300px;    
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column input, .login-form-container input {
    width: 100%;
    margin: 5px 0 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #8a4421;
    outline: none;
}

.submit-btn-container{
    display: block;
    text-align: center;   
}
#description-row {
    height: auto;
}

#name,
#phone {
    width: 90%;
    height: 30px;
    margin-top: 10px;

}

#subject {
    width: 290%;
    height: 30px;
    margin-top: 10px;
}

#description {
    width: 290%;
    height: 200px;
    resize: vertical;
    margin-top: 10px;
}

#submit-btn {
    border-radius: 35px;
    border: none;
    color: white;
    background-color: #8a4421;
    cursor: pointer;
    height: 35px;    
    width: 130px;
}

main p{
    font-size: 0.8rem;
    padding: 30px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form span{
    color: red;
}
