/* Product list container */
#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1% 1%;
  margin: 1rem;
  gap: 0rem;
}

/* Product card */
.product-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  min-height: 400px;
  margin: 1rem;
}

/* Product image */
.product-card img {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin: auto;
  border-radius: 4px 4px 0 0;
  padding: 1rem;
}

/* Product details */
.product-details {
  padding: 1rem;
}

/* Product name */
.product-name {
  font-size: 14px;
  height: 50px;
  color: #0f1111;
  text-align: left;
}

/* Product price */
.product-price {
  font-size: 21px;
  font-weight: 400;
  margin: 0;
}

/* Product rating */
.product-rating {
  display: flex;
  margin-top: 1rem;
  font-size: 15px;
}

.product-rating svg {
  fill: #ffc107;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

/* Product reviews */
.product-reviews {
  font-size: 0.8rem;
  font-weight: 400;
  color: #888;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.category-banner {
  width: 80%;
  background-image: url("../images/cat_food.png");
}

.category-banner img {
  width: 100%;
}

.shop-banner {
  width: 80%;
  margin: auto;
}
.shop-banner img {
  width: 100%;
  margin-top: 10px;
}

#product-list a:visited,
#product-list a:link {
  color: black;
}

.ecicon {
  color: #ff6262 !important;
}

.product-rating-value {
  margin-left: 10px;
}

.product-name span {
  margin-left: 5px;
}

.shop-banner h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: #8a4421;
}

hr {
  color: #8a4421;
  border-color: #8a4421;
  border-width: 1px;
  width: 5%;
  border-width: 3px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-style: solid;
  border-radius: 100px;
}

.product-name b {
  color: #8a4421;
}

#product-quantity {
  color: #444444;
  font-size: 10px;
  line-height: 15px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.1px;
  margin: 16px 0;
  justify-content: space-between;
}

#product-quantity-number {
  color: #ffffff;
  font-size: 10px;
  line-height: 15px;
  /* background-color: #3474d4; */
  background-color: #8a4421;
  padding: 3px 10px;
  margin: 0 6px;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.main-wrapper .categ-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  padding: 2rem 1rem;
}

.categ-heading {
  padding: 1rem 0.5rem;
}

.categ-title {
  padding: 1rem;
  border-bottom: 1px solid #cacaca;
  display: flex;
  justify-content: space-between;
}

.categ-title .ecicon {
  color: #8a4421 !important;
  cursor: pointer;
  transition: 1s;
}

.subcat-dropdown {
  /* display: none; */
  list-style-type: square;  
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.show {
  max-height: 500px;
}

.tiltIcon {
  transform: rotate(-90deg) !important;
}

.active li{
  color: #8a4421 !important;
}

.categ-section a:link, .categ-section a:visited {
  color: black !important
}

.categ-section a:hover  {
  color: #8a4421 !important;
}

.subcat-dropdown li {
  padding: 0.5rem;
}
